nav {
    width: 100%;
    height: 80px;
    background-color: #2f2f2f;
    padding-left: 10%;
    padding-right: 10%;
}

header {
    width: 100%;
    height: 600px;
    background-image: url(../assets/maxresdefault.jpg);
    background-size: cover;
    background-position: center;
    
}

.tint {
    width: 100%;
    height: 600px;
    background-color: rgba(0,0,0,0.3);  
    padding-top: 150px;
    padding-left: 10%;
    color: #ffffff;
}

.tint div {
    border-color: #ffffff;
    color: #ffffff;
}

.tint div:hover{
    background-color: #ffffff;
    color: black;
}

header h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
}

header h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

footer {
    width: 100%;
    height: 150px;
    text-align: center;
    margin-top: 100px;
    background-color: #2f2f2f;
    color: white;
    padding-top: 50px;
}

footer p{
    font-style: italic;
}

h4 {
    margin-top: 25px;
}

.logo {
    float: left;
    color: white;
    padding-top: 14px;
    font-size: 30px;
    font-family: 'Rubik Iso', cursive;
}

.nav-con {
    float: right;
    width: 500px;
    height: 350px;
    padding-top: 5px;
    list-style: none;
}

.nav-con li{
    float: left;
    width: 100px;
    height: 35px;
    padding-top: 5px;
    margin-top: 15px;
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    color: #2f2f2f;
}

.heading {
    float: left;
    margin-left: 150px;
    margin-top: 150px;
}

.heading h3 {
    font-style: italic;
}

.heading h1{
    width: 600px;
}

.welcome {
    width: 100%;
    height: 100px;
    background-color: gray;
    color: white;
    text-align: center;
    padding-top: 25px;
    font-family: 'Roboto', sans-serif;
}

.PicBox {
    width: 550px;
    height: 350px;
    background-color: lightgray;
    border-radius: 5px;
    margin-top: 50px;
}

.Introduction h3 {
    font-style: italic;
}

.Introduction {
    margin-top: 50px;
}

.CTAbutton {
    float: left;
    width: 200px;
    height: 40px;
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid #2f2f2f;
    color: #2f2f2f;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
}


.CTAbutton:hover {
    cursor: pointer;
    background-color: #2f2f2f;
    color: white;
}

.section-head {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
}

.profile {
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}

.profile p {
    margin-top: 15px;
}

.circlepic img {
    background-position: center;
    background-size: cover;
}

.circlepic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: lightgrey;
    margin: 0 auto;
}

.button {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    margin-left: 35px;
    color: white;
    background-color: #2f2f2f;
    padding-top: 8px;
}

.button:hover {
    cursor: pointer;
    background-color: white;
    color: #2f2f2f;
    border: 2px solid #2f2f2f;
    padding-top: 6px;
}

.nav-con li:hover {
    background-color: #2f2f2f;
    color: white;
    cursor: pointer;

}

.active {
    background-color: #ff0000 !important;
    color: white !important;
}

.SmallBox {
    width: 100%;
    height: 250px;
    background-color: lightgray;
    margin: 0 auto;
    border-radius: 5px;
}

.button-group {
    width: 160px;
    height: 40px;
    border-radius: 5px;
    padding-left: 40px;
    color: white;
    background-color: #2f2f2f;
    padding-top: 8px;
}

.button-group:hover {
    background-color: white;
    color: #2f2f2f;
    border: 2px solid #2f2f2f;
    padding-top: 6px;
    cursor: pointer;
}

.half{
    text-align: left;
    padding-left: 15%;
    padding-right: 15%;
}

.half p{
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
}

.half h3{
    font-style: italic;
    margin-top: 25px;
} 

.MapBox {
    width: 550px;
    height: 350px;
    background-color: lightgray;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 28%;
}

.old-eleven {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(../assets/old_eleven.png);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.old-dustin {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(../assets/old_dustin.png);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.old-mike {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(../assets/old_mike.png);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.zombie {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(../assets/zombie.jpg);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.section-subtitle {
    font-style: italic;
    text-align: center;
}

.circle-pic {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: lightgrey;
    margin: 0 auto;
    margin-top: 45px;
    background-image: url("../assets/hands.jpg");
    background-position: center;
    background-size: cover;
}